@keyframes fade-in{
    from{
      opacity: 0.3;
      transform: scale(0.9);
    }
  
    to{
      opacity: 1;
      transform: scale(1);
    }
  }
.news-item{
    width: 100%;
    padding: 5px 5px;
    max-width: 520px;
    min-width: 290px;
    background: var(lite);
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: fade-in linear both;

    a{
      text-decoration: none;
      padding: 5px 5px;
      img{
        width: 100%;
        max-width: 520px;
        height: 100%;
        max-height: 200px;
        object-fit: cover;
        margin: .5rem 0;
        display: block;
        border-radius: 8px;
        transform-origin: center;
        }

        h2 {
            text-align: start;
            font-size: 18px;
            margin: 0 0;
            color: var(--dark);
          }
      h4{
        text-decoration: none;
        .date {
          float: right;
          font-size: 14px;
        }
      }
      h3{
        --max-lines: 2;    
        overflow: hidden;
        display: -webkit-box;    
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-lines);
        span{
          color: var(--blue);
          *{
            font-size: 18px;
          }
        }
      }
    }
    
    &:hover{
      a{
        text-decoration: none;
        h3{
          text-decoration: underline !important;
        }
      }
    }
    @media screen and (max-width:480px){
      &{
        min-width: 100%;
      }
    }
}  