.payments{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .5rem;
    text-align: center;

    .wrapper{
        form.method{
            width: 100%;
            max-width: 800px;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(3, 1fr);
            padding: 5px 5px;

            fieldset{
                padding: 0;
                border: 0;
                position: relative;
                display: flex;
                justify-content: space-between;
                label{
                    text-transform: uppercase;
                    letter-spacing: .1rem;
                    background: #E8E8E8;
                    text-align: center;
                    padding: .5em;
                    cursor: pointer;
                    width: 100%;
                    border-radius: .5rem;
                    border: 1px solid #ccc;
                    position: relative;
                    z-index: 1;

                    &:hover{
                        background: #D8D8D8;
                    }
                  }

                
                  input[type="radio"]{
                    visibility: hidden;
                    position: absolute;
                    cursor: pointer;
                  }
                  input[type="radio"]:checked{
                    ~ label{
                      background: #56b056;
                      color: var(--lite);
                      box-shadow: 0 0.2em 0.45em 0.1em rgba(0,0,0, 0.4);
                      transform: scale(1.05);
                      animation: checked 200ms 1;
                      border: 1px solid var(--dark-blue);
                      position: relative;
                      z-index: 5;
                    }
                  } 
            }

            @media(max-width: 400px){
                grid-gap: .4rem;
                max-width: 100%;
                display: grid;
                fieldset{
                    label{
                        letter-spacing: .05rem;
                        font-size: small;
                    }
                }
            }
        }
    }

    .crypto{
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        select{
            max-width: 400px;
            width: 100%;
            height: 1.5rem;
            border-radius: 5px;
        }  

        > p{
            width: 100%;
            margin: 5px;
            line-height: 2rem;
            overflow: visible;
            word-wrap: normal;
            text-align: start;

            span{
                font-weight: 600;
            }
        }

        form.pricing{
            width: 100%;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            fieldset{
                width: 100% ;
                flex: 1;
                max-width: 250px;
                padding: 0;
                border: 0;
                position: relative;
                display: flex;
                
                @media(min-width: 1300px){
                  margin-top: 0;
                }
                label{
                    background: #E8E8E8;
                    text-align: center;
                    padding: 1em;
                    cursor: pointer;
                    width: 100%;
                    border-radius: .5rem;
                    border: 1px solid #ccc;
                    position: relative;
                    z-index: 1;
                  }
                  
                  label:hover{
                    background: #D8D8D8;
                  }
                  
                  input[type="radio"]{
                    visibility: hidden;
                    position: absolute;
                    cursor: pointer;
                  }
        
                  .sub{
                    margin: auto;
                    grid-row: span 2 / 3;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    transition: all 200ms ease-in-out;
                    font-size: .8rem;
                  }
                  
                  input[type="radio"]:checked{
                    ~ label{
                      background: #56b056;
                      color: var(--lite);
                      box-shadow: 0 0.2em 0.45em 0.1em rgba(0,0,0, 0.4);
                      transform: scale(1.01);
                      animation: checked 200ms 1;
                      border: 1px solid var(--dark-blue);
                      position: relative;
                      z-index: 5;
                    }
                    
                    ~ .sub{
                      top: -.5rem;
                      transition: all 200ms ease-in-out;
                      z-index: 5;
                    }
                  } 
            }
        }

        form.copy{
            width: 100%;
            max-width: 400px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
            
            input{
                height: inherit;
                outline: none;
                font-size: 16px;
                padding: 0 5px;
                color: var(--dark);
                flex: 7;
                border: none;
                background: var(--light-grey);
            }
            
            button{
                flex: 3;
                height: 40px;
                border: none;
                border: 1px solid var(--blue);
                color: var(--lite);
                background: var(--blue);
                cursor: pointer;
                &:hover{
                    background: var(--dark-blue);
                }
            }
        }
    }
}