@-webkit-keyframes checked{
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.25);
    }
  }

.pay{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .3rem;
    text-align: center;

    form{
    width: 100%;
    max-width: 40em;
    //margin: auto auto .5em auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    padding: 5px 5px;
    background: var(--transparent);
    
    @media(min-width: 400px){
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media(min-width: 900px){
     grid-template-columns: repeat(4, 1fr);
    }

    fieldset{
        padding: 0;
        border: 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        
        @media(min-width: 1300px){
          margin-top: 0;
        }
        label{
            text-transform: uppercase;
            letter-spacing: .1rem;
            background: #E8E8E8;
            text-align: center;
            padding: 1em;
            cursor: pointer;
            width: 100%;
            border-radius: .5rem;
            border: 1px solid #ccc;
            position: relative;
            z-index: 1;
          }
          
          label:hover{
            background: #D8D8D8;
          }
          
          input[type="radio"]{
            visibility: hidden;
            position: absolute;
            cursor: pointer;
          }

          .price{
            margin: auto;
            grid-row: span 2 / 3;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
            left: 0;
            transition: all 200ms ease-in-out;
            font-size: 1.5rem;
          }
          
          input[type="radio"]:checked{
            ~ label{
              background: #56b056;
              color: var(--lite);
              box-shadow: 0 0.2em 0.45em 0.1em rgba(0,0,0, 0.4);
              transform: scale(1.05);
              animation: checked 200ms 1;
              border: 1px solid darken(#56b056, 10%);
              position: relative;
              z-index: 5;
            }
            
            ~ .price{
              top: -1rem;
              transition: all 200ms ease-in-out;
              z-index: 5;
            }
          } 
    }
  }
  
  .paypal-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    gap: 5px;
    flex-wrap: wrap;

    *{
      flex: 1;
    }

    img{
      max-width: 200px;
    }
  }
}
  