.newsletter{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
    padding: 0 5px;
    
    p{
        font-size: 15px;
    }

    form{
        width: 100%;
        max-width: 340px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        input{
            height: inherit;
            outline: none;
            font-size: 16px;
            padding: 0 5px;
            color: var(--dark);
            flex: 7;
            border: none;
            background: var(--light-grey);
        }
        
        button{
            flex: 3;
            height: 40px;
            border: none;
            border: 1px solid var(--blue);
            color: var(--lite);
            background: var(--blue);
            cursor: pointer;
            &:hover{
                background: var(--dark-blue);
            }
        }
    }
    .success{
        color: var(--dark-blue);
    }
    
    .error{
        color: var(--even);
    }
}
