header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 35px;
    z-index: 10;
    background: var(--lite);
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);

    .logo {
        height: 55px;
        min-width: 55px;
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 10px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: fill;
            object-position: center;
        }

        @media screen and (max-width:480px) {
            & {
                display: none;
                padding: 6px 10px;
            }
        }
    }

    nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 5px;
        position: relative;


        >a {
            text-align: center;
            text-decoration: none;
            color: var(--blue);
            font-weight: 800;
            font-size: 17px;
            padding: 0 5px;

            &:hover {
                background: var(--light-blue);
                transform: scale(1.2);
                text-decoration: none;
            }
        }

        .active {
            color: var(--blue);
            border-bottom: 2px solid var(--blue);
        }
    }

    .btn-wrapper {

        .btn {
            box-shadow: none;
            background: transparent;
            color: var(--grey);
            border: 1px solid var(--dark-blue);
            margin-right: 10px;

            &:hover {
                background: transparent;
                color: var(--dark-blue);
                box-shadow: none;
                //border: 1px solid #023020;
                background: var(--light-blue);
            }
        }
    }
}